@page "{productId:int}"
@model WebApplication1.Pages.DetailsModel

<div class="container mt-4">
    <h1 class="display-4">@Model.Product.Name Detayları</h1>
    <p class="lead">@Model.Product.Price</p>
</div>