@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Gıda Market";
}


<link rel="stylesheet" href="~/css/index.css"/>

<div class="image-container">
    <img src="~/store2.JPG" alt="Store Image" class="img-fluid" />
</div>

<div id="totalPages" data-totalPages="@Model.PaginatedProducts.TotalPages"></div>
<script>
    var totalPages = document.getElementById('totalPages').getAttribute('data-totalPages');
</script>  

<div class="container mt-4">
    <div class="row" id="product-container">
        @await Html.PartialAsync("_ProductListPartial", Model.PaginatedProducts)
    </div>
    <input type="hidden" id="currentPage" value="@(Model.PaginatedProducts.PageIndex)" />
    <div class="text-center spinner-container">
      <div class="spinner-border" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
</div>

