.card {
    width: 240px;
    height: 360px;
    border-radius: 10px; /* Yumuşak kenarlar için */
    overflow: hidden; /* Kenarları içeride tutmak için */
}

.card-body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body img {
    max-width: 220px;
    max-height: 330px;
    width: auto;
    height: auto;
    border-radius: 10px; /* Resmin kenarlarını da yumuşatmak için */
}