body {
    background-color: #f8f9fa;
}

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.product-image {
    max-height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-footer {
    background-color: #f8f9fa;
}

.price-tag {
    color: #ffffff;
    font-weight: bold;
}

.navbar-brand img {
    width: 200px;
    height: auto;
}

.price-tag {
    color: #fb8d51; /* Fiyat yazısının rengi */
}

.btn-success {
    background-color: #fb8d51; /* "Sepete Ekle" butonunun arka plan rengi */
    color: #ffffff; /* "Sepete Ekle" butonunun metin rengi */
    border-color: #ffffff; /* "Sepete Ekle" butonunun kenarlık rengi */
}

.btn-success:hover {
    background-color: #ffffff; /* Mouse ile üstüne gelindiğinde "Sepete Ekle" butonunun arka plan rengi */
    color: #fb8d51; /* Mouse ile üstüne gelindiğinde "Sepete Ekle" butonunun metin rengi */
    border-color: #fb8d51; /* Mouse ile üstüne gelindiğinde "Sepete Ekle" butonunun kenarlık rengi */
}

.spinner-container {
    margin-top: 30px; /* veya istediğiniz değeri kullanabilirsiniz */
    margin-bottom: 30px;
}
