header {
    margin-bottom: 40px; /* Navbar'ı sayfanın üstünden biraz aşağı indirmek için */
    margin-top: 60px;
}

.navbar {
    border-bottom: 1px solid #ddd; /* Navbar'ın altına ince bir çizgi eklemek için */
}

.custom-search-width {
    width: 600px;
}

.clickable-card {
    cursor: pointer;
}