header {
    margin-bottom: 40px; /* Navbar'ı sayfanın üstünden biraz aşağı indirmek için */
    margin-top: 25px;
}

.navbar {
    border-bottom: 1px solid #ddd; /* Navbar'ın altına ince bir çizgi eklemek için */
}

.navbar-brand img {
    width: 200px;
    height: auto;
}

.custom-search-width {
    width: 600px;
}

.clickable-card {
    cursor: pointer;
}

.logo-img {
    height: calc(100% / 3); /* Container'ın 1/3'ü olacak şekilde yükseklik ayarı */
    max-width: 100%; /* Görüntünün maksimum genişliği container'ın genişliğine eşit olacak şekilde */
    display: block; /* Dikey hizalama düzeltmesi */
    margin: 0 auto; /* Görüntüyü yatayda merkezle */
}